<tr>
  <td class="has-text-right"><%= Douyin::Shop.human_attribute_name(:poi_id) %></td>
  <td><%= @shop.poi_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Douyin::Shop.human_attribute_name(:name) %></td>
  <td><%= @shop.name %></td>
</tr>
